{% load static %}
<!DOCTYPE html>
<html lang="ru" class="no-js" data-theme="auto">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
  <title>{% block title %}Мой проект{% endblock %}</title>
  <meta name="color-scheme" content="light dark">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  <a class="skip" href="#main">Пропустить к контенту</a>

<header class="site-header">
  <div class="container">
    <div class="brand">
      <div class="logo">◎</div>
      <a href="{% url 'dashboard' %}" class="brand-name">Лимит 360</a>
    </div>
    {% if request.user.is_authenticated %}
    <nav class="nav" aria-label="Основная навигация">
      <a href="{% url 'dashboard' %}" class="nav-link {% if section == 'dashboard' %}selected{% endif %}">Главная</a>
      <a href="{% url 'bank_list' %}" class="nav-link {% if section == 'bank' %}selected{% endif %}">Банки</a>
      <a href="{% url 'profile' %}" class="nav-link {% if section == 'profile' %}selected{% endif %}">Кабинет</a>
      <a href="index" class="nav-link {% if section == 'support' %}selected{% endif %}">Поддержка</a>
    </nav>
    {% endif %}
    <div class="header-actions">
      
      {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn logout-btn">Выйти</button>
        </form>
      {% else %}
        <a class="btn primary" href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>

  </div>
</header>

  <main id="main" class="page">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      <div class="footer-left">© {{ now|date:"Y" }} FinDesk</div>
      <div class="footer-right">API банков • Курсы валют • Отчёты</div>
    </div>
  </footer>


</body>
</html>
