{% extends "base.html" %}
{% block title %}Log-in{% endblock %}

{% block content %}
<h1 class="page-title">Вход в аккаунт</h1>

{# сообщение об ошибке, если нужно #}
{% if form.errors or form.non_field_errors %}
  <div class="form-error">Неверный логин или пароль. Попробуйте ещё раз.</div>
{% endif %}

<form method="post" action="{% url 'login' %}" class="login-form">
  {% csrf_token %}
  {{ form.as_p }} {# внутренность формы оставляем без изменений #}
  <div class="login-actions">
    <a href="{% url 'dashboard' %}" class="btn ghost">Назад</a>
    <button type="submit" class="btn primary">Войти</button>
  </div>
</form>

<div class="login-under">
  <a href="{% url 'register' %}" class = "btn thin ">Зарегистрируйся</a>
  <a href="{% url 'password_reset' %}" class="btn thin">Забыли пароль?</a>
  <a href="index" class="btn thin">Договор оферта</a>
</div>
{% endblock %}
